@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgAuth: url("./assets/bgAuth.png");
  --primary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_opacity-black {
  @apply z-0 after:absolute  after:left-0  after:right-0 after:top-0 after:bottom-0  after:content-[''] after:bg-black after:opacity-35;
}

.bg_opacity-image {
  @apply z-0 absolute left-0 right-0 top-0 bottom-0 bg-black   opacity-50;
}

/* Layouts css */

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(50, 48, 51);
}

::-webkit-scrollbar-thumb {
  background: #3c424e;
}

.scroll-purple::-webkit-scrollbar-thumb {
  background-color: purple;
}

.scroll-purple::-webkit-scrollbar {
  width: 5px;
  background: #3c424e;
}

.chevron-right {
  @apply hidden sm:inline-block lg:hidden fixed top-40  -left-3 bottom-0 bg-slate-800 rounded-full z-[99];
}
