@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgAuth: url("./assets/bgAuth.png");
  --primary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_opacity-black {
  @apply z-0 after:absolute  after:left-0  after:right-0 after:top-0 after:bottom-0  after:content-[''] after:bg-black after:opacity-35;
}

.bg_opacity-image {
  @apply z-0 absolute left-0 right-0 top-0 bottom-0 bg-black opacity-0;
}

/* Layouts css */
